In [1]:
import pandas as pd

In [32]:
df=pd.read_csv(r"C:\Users\ADMIN\OneDrive\Documents\Datasets\survey.csv")

In [33]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27-08-2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,Jun-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,27-08-2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,27-08-2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,Jun-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,27-08-2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,27-08-2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,12-09-2015 11:17,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,26-09-2015 01:07,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,07-11-2015 12:36,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,30-11-2015 21:25,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,01-02-2016 23:04,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB

In [35]:
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [90]:
df.duplicated().sum()

1

In [94]:
df.drop_duplicates(inplace=True)

In [95]:
df.duplicated().sum()

0

In [101]:
for i in df.columns:
    if df[i].dtype == "int" or df[i].dtype == 'float':
        if df[i].isnull().sum()!=0:
            mean=df[i].mean()
            df[i].fillna(method='ffill',inplace=True)
    elif df[i].dtype == "object":
          if df[i].isnull().sum()!=0:
              mode=df[i].mode()
              df[i].fillna(method='ffill',inplace=True)

In [102]:
# replace invaild value in Gender
df['Gender'].replace({'M':'Male','F':'Female','Male-ish':'Male','male':'Male','m':'Male','maile':'Male','maile':'Trans','Cis Female':'Female','F':'Female','something kinda male?':'Male','Cis Male':'Male','Woman':'Femal','f':'Female','Trans-female':'Trans','Femal':'Female','Trans woman':'Trans','msle':'Male','Neuter':'ns','Female (trans)':'Trans'},inplace=True)
df['Gender'].replace({'Mal':'Male','Male (CIS)':'Male','queer/she/they':'Female','non-binary':'Trans','Femake':'Female','woman':'Female','Make':'Male','Nah':'Male','All':'Male','Enby':'Female','fluid':'Female','Genderqueer':'Trans','Androgyne':'Trans','Agender':'Trans','cis-female/femme':'Female','Guy (-ish) ^_^':'Trans','male leaning androgynous':'Male','Man':'Male'},inplace=True)
df['Gender'].replace({'ns':'Male', 'queer':'Trans', 'Female (cis)':'Trans', 'Mail':'Male', 'cis male':'Trans',
       'A little about you':'Male', 'Malr':'Male', 'p':'Trans', 'femail':'Female', 'Cis Man':'Trans','female':'Female','Female ':'Female','Male ':'Male'},inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10084\4117442671.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Gender'].replace({'M':'Male','F':'Female','Male-ish':'Male','male':'Male','m':'Male','maile':'Male','maile':'Trans','Cis Female':'Female','F':'Female','something kinda male?':'Male','Cis Male':'Male','Woman':'Femal','f':'Female','Trans-female':'Trans','Femal':'Female','Trans woman':'Trans','msle':'Male','Neuter':'ns','Female (trans)':'Trans'},inplace=True)

In [103]:
df['Gender'].replace({'ostensibly male':'Male','Femal':'Female'},inplace=True)

In [104]:
df['Gender'].unique()

array(['Female', 'Male', 'Trans',
       'ostensibly male, unsure what that really means'], dtype=object)

In [105]:
# replace invaild value in age 
df['Age'].replace({99999999999:0,-1726:0,-1:1,-29:29,329:29,},inplace=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10084\2611216722.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].replace({99999999999:0,-1726:0,-1:1,-29:29,329:29,},inplace=True)

In [106]:
df['Age'].unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55,  0,
       48, 20, 57, 58, 47, 62, 51, 65, 49,  5, 53, 61,  8, 11,  1, 72],
      dtype=int64)

In [107]:
df['self_employed'].unique()

array(['No', 'Yes'], dtype=object)

In [108]:
df.isnull().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
Time                         0
dtype: int64

In [109]:
for i in df.columns:
    if df[i].dtype=='object':
        if df[i].isnull().sum() > 0:
            mode=df[i].mode()[0]
            df[i].fillna(mode,inplace=True)

In [110]:
df['self_employed'].isnull().sum()

0

In [111]:
df['comments'].isnull().sum()

0

In [112]:
df['self_employed'].unique()

array(['No', 'Yes'], dtype=object)

In [113]:
df['self_employed'].sort_values()

0        No
811      No
810      No
809      No
808      No
       ...
1127    Yes
487     Yes
819     Yes
1120    Yes
883     Yes
Name: self_employed, Length: 1258, dtype: object

In [114]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments', 'Time'],
      dtype='object')

In [115]:
df['mental_vs_physical'].unique()

array(['Yes', "Don't know", 'No'], dtype=object)

In [116]:
df['phys_health_consequence'].mode()

0    No
Name: phys_health_consequence, dtype: object

In [117]:
df.describe()

               Age
count  1258.000000
mean     31.938792
std       7.524782
min       0.000000
25%      27.000000
50%      31.000000
75%      36.000000
max      72.000000

In [118]:
df.isnull().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
comments                     0
Time                         0
dtype: int64

In [120]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,Time
0,27-08-2014,37,Female,United States,IL,No,No,Yes,Often,Jun-25,...,No,No,Some of them,Yes,No,Maybe,Yes,No,* Small family business - YMMV.,11:29
1,27-08-2014,44,Male,United States,IN,No,No,No,Rarely,More than 1000,...,Maybe,No,No,No,No,No,Don't know,No,* Small family business - YMMV.,11:29
2,27-08-2014,32,Male,Canada,CA,No,No,No,Rarely,Jun-25,...,No,No,Yes,Yes,Yes,Yes,No,No,* Small family business - YMMV.,11:29
3,27-08-2014,31,Male,United Kingdom,CA,No,Yes,Yes,Often,26-100,...,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,* Small family business - YMMV.,11:29
4,27-08-2014,31,Male,United States,TX,No,No,No,Never,100-500,...,No,No,Some of them,Yes,Yes,Yes,Don't know,No,* Small family business - YMMV.,11:30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,12-09-2015,26,Male,United Kingdom,CA,No,No,Yes,Sometimes,26-100,...,No,No,Some of them,Some of them,No,No,Don't know,No,* Small family business - YMMV.,11:17
1255,26-09-2015,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,No,No,Some of them,Yes,No,No,Yes,No,* Small family business - YMMV.,01:07
1256,07-11-2015,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Yes,Yes,No,No,No,No,No,No,* Small family business - YMMV.,12:36
1257,30-11-2015,46,Female,United States,NC,No,No,No,Sometimes,100-500,...,Yes,No,No,No,No,No,No,No,* Small family business - YMMV.,21:25
1258,01-02-2016,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Maybe,No,Some of them,No,No,No,Don't know,No,* Small family business - YMMV.,23:04

In [138]:
df.to_csv(r"C:\Users\ADMIN\OneDrive\Documents\Datasets\Clean_survey.csv",index=False)